body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid #ccc;
}
th {
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: left;
}

.error {
    color: darksalmon;
    visibility: hidden;
    font-size: 14px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.product-name, .product-weight, .product-distance {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.product-name:hover {
    background-color: #4676D7;
}

.product-weight:hover {
    background-color: #4676D7;
}

.product-distance:hover {
    background-color: #4676D7;
}

.button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 16px;
}

.button:hover {
    background: #1d49aa;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}